body{
	background-image: url("background.jpg");
}

tr{
	font-family: Georgia;
	font-size: 1.7em;

}

#board{
	display: inline-grid;
	grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto ; 
	padding: 10px;
	float:left;
}


.itemd, .itema, .itema1{
	position: relative;
	border: 1px solid;
	padding: 0;
	font-size: 30px;
	text-align: center;
	width: 60px;
	height: 60px; 
	text-transform: uppercase;
}

.itemd{
	background-color: black;
}

/* Vironica Leonardo 
	When the user inputs the right letter in the square, it will turn blue.
*/
.itema:valid{
	background-color: blue;
}

/* Vironica Leonardo 
	When the user inputs the wrong letter in the square will remain at it is.
*/

.itema:invalid{
	background-color: none;
}

input#reset{
	background-color: white;
	border: 2px solid green;
	padding: 15px;
	text-align: center;
	display: inline-block;
}

/* Vironica Leonardo 
	When the user hovers the mouse pointer at the play again button it will turn green
*/

input#reset:hover{
	background-color: green;
}