body{
	margin: 0;
	padding: 0;
	font-family: Abadi MT Condensed;
	background: url(cloud.jpg) no-repeat;
	background-size: cover;
}

.container{
	max-width: 960px;
	width: 96%;
	margin: auto;
}

.content h1{
	background: lightgrey;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	font-family: Abadi MT Condensed Light;
	font-size: 60px;
	letter-spacing: 2px
}

#quiz{
	max-width: 950px;
	background: lightgrey;
	padding: 40px;
	margin: auto;
	margin-top: 5%;
	border-radius: 5px;
}

input {
	margin-botton: 20px;
}

#button {
	background: green;
	border: none;
	border-radius: 5px;
	padding: 10px;
	color: white;
	font-size: 16px;
	transition-duration: .5s;
	margin-top: 15px;
}

#button:hover {
	background: white;
	border: 1px solid green;
	color: black;
	cursor: pointer;
}
#after_submit{
	visibility: hidden;
}

#message {
	visibility: hidden;
}

#numberOfCorrect {
	visibility: hidden;
}